# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Uploads
backend/uploads/

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/

# Misc
*.sqlite3