fastapi==0.139.0
uvicorn[standard]==0.50.2
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
python-dotenv==1.2.2
python-jose==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.32
email-validator==2.3.0
pandas==2.3.3
easyocr==1.7.2
pyzbar==0.1.9
pillow==12.3.0
requests==2.32.5
